<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body class="body">
<div class="top-div">
     <h1>MUMOH'S GALLERY</h1>
    <a href="index.html"><button class="btn-info">Home</button></a>
    <a href="about.html"><button class="btn-info">About</button></a>
    <a href="gallery.html"><button class="btn-info">Gallery</button></a>
    <a href="login.html"><button class="btn-info">Login</button></a>
    <a href="register.html"><button class="btn-info">Register</button></a>




</div>
<div class="middle-div">
    <img src="../static/images/hero.jpg" alt="No image">
    <img src="../static/images/about.jpg" alt="No image">
    <img src="../static/images/price-4.jpg" alt="No image">
</div>
<div class="bottom-div">
    <img src="../static/images/gallery-4.jpg" alt="No image">
    <img src="../static/images/hero-bg.jpg" alt="No image">
    <img src="../static/images/price-4.jpg" alt="No image">
</div>
<div class="most-bottom">
    <img src="../static/images/gallery-5.jpg" alt="No image">
    <img src="../static/images/testimonials-bg.jpg" alt="No image">
    <img src="../static/images/me.jpg" alt="No image">
    <img src="../static/images/gallery-6.jpg" alt="No image">

</div>
<div>
    <button class="subuu">SUBMISSION</button>
</div>


</body>
</html>