<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body class="modes">
<div class="top-div">
    <div class="top-left">
         <h1 class="head">THE NAIROBI HOSPITAL </h1>
    </div>
    <div class="top-right">
        <link rel="stylesheet" href="about.html">
        <link rel="stylesheet" href="register.html">
        <link rel="stylesheet" href="gallery.html">
    </div>
</div>
  <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
<div class="middle-div">
    <div class="middle-left">
        <a href="index.html"><button class="btn-info">Home</button></a>
        <a href="about.html"><button class="btn-info">About</button></a>
        <a href="gallery.html"><button class="btn-info">Gallery</button></a>
        <a href="login.html"><button class="btn-info">Login</button></a>
        <a href="register.html"><button class="btn-info">Register</button></a>

    </div>
    <div class="middle-right">
        <h1 class="topic">FOR CHEAPER AND PROPER MEDICATION</h1>
    </div>
</div>
<div class="bottom-div"></div>
</body>
</html>