<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <h1></h1>
</head>
<body>
<div>
    <a href="index.html"><button class="btn-info">Home</button></a>
    <a href="about.html"><button class="btn-info">About</button></a>
    <a href="gallery.html"><button class="btn-info">Gallery</button></a>
    <a href="login.html"><button class="btn-info">Login</button></a>
    <a href="register.html"><button class="btn-info">Register</button></a>

</div>
<div class="middle-place">

</div>
<div></div>
</body>
</html>