<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/styles.css">
  <h1>REGISTER PAGE</h1>
</head>
<body>
<a href="index.html"><button class="btn-info">Home</button></a>
<a href="about.html"><button class="btn-info">About</button></a>
<a href="gallery.html"><button class="btn-info">Gallery</button></a>
<a href="login.html"><button class="btn-info">Login</button></a>
<a href="register.html"><button class="btn-info">Register</button></a>
</body>
</html>